.quiz-container {
    min-height: 100vh; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #110f10;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 20px;
}

.quiz-card {
    background: #1b242f;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 60%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.quiz-card input {
    width: 100%;
    padding: 10px;
    margin: 0.75% 0;
    border: none;
    border-radius: 5px;
    background: #2a3748;
    color: white;
    box-sizing: border-box;
}

.remove-btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.remove-btn {
    background: #d32f2f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.remove-btn:hover {
    transform: scale(1.05);
}

.remove-btn:active {
    transform: scale(0.95);
}

.add-btn-container {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.add-btn {
    background: #4caf50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-right: -20px;
    margin-bottom: 50px;
}

.add-btn:hover {
    transform: scale(1.05);
}

.add-btn:active {
    transform: scale(0.95);
}
