.header-container {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 4;
}

.button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.25);

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.discord {
    background-color: #5865F2;
    color: white;
    text-decoration: none;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.45);
    padding-right: 20px;
    padding-left: 20px;
}

.login {
    background-color: #C02222;
    color: white;
}

.btn-icon {
    width: 24px;
    height: auto;
    object-fit: contain;
}
