.text-section-container {
    width: 60vw;
    font-family: "Kadwa", sans-serif;
    font-size: 18px;
    font-style: italic;
    color: white;
    height: 65%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.DM-logo {
    opacity: 50%;
    height: 25vh;
    width: auto;
    z-index: 0;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.shoop {
    font-family: "Big Shoulders", sans-serif;
    font-size: 85px;
    margin-left: -35px;
    opacity: 50%;
    z-index: 3;
    margin-top: 96px;
    transform: scale(1, 1.3);

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.paragraphs {
    margin-top: -20px;
}

